<mat-card class="card-about">
    <mat-card-header>
        <mat-card-title>ngBLog About</mat-card-title>
        <mat-card-subtitle>Version 1.0.0</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Quisque venenatis nunc aliquam velit hendrerit semper. Suspendisse sed mi in sapien consectetur mattis. Aenean justo massa, feugiat non ligula ut, congue condimentum est. In ac elit mauris. Nulla finibus suscipit tortor vitae aliquet. Duis ac vestibulum felis. Aenean non tortor euismod, consectetur dolor suscipit, blandit dolor.</p>
        <p>Quisque venenatis nunc aliquam velit hendrerit semper. Suspendisse sed mi in sapien consectetur mattis. Aenean justo massa, feugiat non ligula ut, congue condimentum est. In ac elit mauris. Nulla finibus suscipit tortor vitae aliquet. Duis ac vestibulum felis. Aenean non tortor euismod, consectetur dolor suscipit, blandit dolor.</p>
    </mat-card-content>
</mat-card>
