<form [formGroup]="profileForm" (ngSubmit)="onSaveUser(profileForm.value)">
  <mat-card class="profile-card">
    <mat-card-header>
      <div class="label botton">
        <p>Change</p>
        <img [(src)]="currentImage" (click)="inputImageProfile.click()">
        <input hidden type="file" #inputImageProfile (change)="handleImage($event?.target?.files[0])">
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="displayName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <div class="mat-dialog-actions">
        <button type="submit" mat-flat-button color="accent">Save</button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
