a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

img {
  height: 200px;
}

p.content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-chip {
  min-height: 1rem;
  padding: 9px;
  color: white !important;
}

.sport {
  background-color: crimson;
}

.life {
  background-color: blueviolet;
}

.style {
  background-color: yellowgreen;
}

.beauty {
  background-color: chocolate;
}

